DTB-BMS/flows.json
[{"id":"4e59f461.a56f0c","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"63af438.5058bbc","type":"serial in","z":"4e59f461.a56f0c","name":"","serial":"af5253fc.09b97","x":70,"y":300,"wires":[["c62c93a8.af08d","d243c665.c31f28","71fe46c0.dfaa18"]]},{"id":"d243c665.c31f28","type":"debug","z":"4e59f461.a56f0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":250,"y":200,"wires":[]},{"id":"19e8218a.5b6f8e","type":"ui_text","z":"4e59f461.a56f0c","group":"2b0b67e5.8c6878","order":3,"width":0,"height":0,"name":"humidity","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":240,"wires":[]},{"id":"c62c93a8.af08d","type":"function","z":"4e59f461.a56f0c","name":"","func":"global.set(\"area\",\"skinner.1\"); \n\nvar output = msg.payload.split(\",\");\n\nvar msgList = [];\noutput.forEach(function(v, index)\n{\n    var msgIoT = {payload: parseFloat(v)};\n    msgList.push(msgIoT);\n});\n\nreturn msgList;","outputs":16,"noerr":0,"initialize":"","finalize":"","x":270,"y":440,"wires":[["1e8b1389.ebbb5c","eb4101fb.ecc5a","4156ebd0.2fada4"],["19e8218a.5b6f8e","42b4327e.a5e49c","f9b05a7d.b98f38"],["fedf546e.b92f38"],["7e109a58.79f9e4","450b53d4.b8002c","e7f7658d.14b458"],["81c9d9e8.186508"],["d64e4a53.589e08"],["37d68586.9e94ca"],["7f000ff8.72b0c"],["7b969ff5.17729"],["723708ed.d0fe68"],["cc30198b.56e498"],["a62c4830.afe078"],["22e28692.dae18a"],["758c4be3.100204"],["3804bcdf.9caf44"],["29d226c9.8c1c4a"]]},{"id":"1e8b1389.ebbb5c","type":"ui_text","z":"4e59f461.a56f0c","group":"2b0b67e5.8c6878","order":2,"width":0,"height":0,"name":"temp","label":"temp","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":200,"wires":[]},{"id":"fedf546e.b92f38","type":"ui_text","z":"4e59f461.a56f0c","group":"2b0b67e5.8c6878","order":4,"width":0,"height":0,"name":"pressure","label":"pressure","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":280,"wires":[]},{"id":"7f000ff8.72b0c","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":1,"width":0,"height":0,"name":"gx","label":"gx","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":480,"wires":[]},{"id":"7b969ff5.17729","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":2,"width":0,"height":0,"name":"gy","label":"gy","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":520,"wires":[]},{"id":"723708ed.d0fe68","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":3,"width":0,"height":0,"name":"gz","label":"gz","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":560,"wires":[]},{"id":"cc30198b.56e498","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":4,"width":0,"height":0,"name":"ax","label":"ax","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":600,"wires":[]},{"id":"a62c4830.afe078","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":5,"width":0,"height":0,"name":"ay","label":"ay","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":640,"wires":[]},{"id":"22e28692.dae18a","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":6,"width":0,"height":0,"name":"az","label":"az","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":680,"wires":[]},{"id":"758c4be3.100204","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":7,"width":0,"height":0,"name":"mx","label":"mx","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":720,"wires":[]},{"id":"3804bcdf.9caf44","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":8,"width":0,"height":0,"name":"my","label":"my","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":760,"wires":[]},{"id":"29d226c9.8c1c4a","type":"ui_text","z":"4e59f461.a56f0c","group":"c65726f5.12d638","order":9,"width":0,"height":0,"name":"mz","label":"mz","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":800,"wires":[]},{"id":"71fe46c0.dfaa18","type":"ui_text","z":"4e59f461.a56f0c","group":"2b0b67e5.8c6878","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":240,"wires":[]},{"id":"eb4101fb.ecc5a","type":"function","z":"4e59f461.a56f0c","name":"func temp","func":"var area = global.get(\"area\"); \n\nvar d = new Date();\nvar date = d.getFullYear() + '-' + d.getMonth() + '-' \n        + d.getDate() + '-' + d.getHours() + ':' + d.getMinutes()\n        + ':' + d.getSeconds();\n            \nvar newMsg = {\n            'sensor': 'temp',\n            'area' : area,\n            'date' : date,                    \n            'value': msg.payload\n            };\n \nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":20,"wires":[["5325fecc.91cdc"]]},{"id":"5325fecc.91cdc","type":"mongodb out","z":"4e59f461.a56f0c","mongodb":"129644e9.2c45fb","name":"","collection":"records","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":760,"y":20,"wires":[]},{"id":"4156ebd0.2fada4","type":"ui_chart","z":"4e59f461.a56f0c","name":"","group":"d69cb3c.2df955","order":3,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":710,"y":240,"wires":[[]]},{"id":"42b4327e.a5e49c","type":"ui_gauge","z":"4e59f461.a56f0c","name":"","group":"d69cb3c.2df955","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":280,"wires":[]},{"id":"257a5527.b59c7a","type":"inject","z":"4e59f461.a56f0c","name":"","props":[{"p":"payload"},{"p":"topic","v":"1","vt":"num"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":230,"y":120,"wires":[[]]},{"id":"7e109a58.79f9e4","type":"ui_text","z":"4e59f461.a56f0c","group":"2b0b67e5.8c6878","order":5,"width":0,"height":0,"name":"light","label":"light","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":320,"wires":[]},{"id":"81c9d9e8.186508","type":"ui_text","z":"4e59f461.a56f0c","group":"2b0b67e5.8c6878","order":6,"width":0,"height":0,"name":"R","label":"R","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":360,"wires":[]},{"id":"d64e4a53.589e08","type":"ui_text","z":"4e59f461.a56f0c","group":"2b0b67e5.8c6878","order":7,"width":0,"height":0,"name":"G","label":"G","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":400,"wires":[]},{"id":"37d68586.9e94ca","type":"ui_text","z":"4e59f461.a56f0c","group":"2b0b67e5.8c6878","order":8,"width":0,"height":0,"name":"B","label":"B","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":440,"wires":[]},{"id":"450b53d4.b8002c","type":"ui_chart","z":"4e59f461.a56f0c","name":"","group":"d69cb3c.2df955","order":3,"width":0,"height":0,"label":"light","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":690,"y":320,"wires":[[]]},{"id":"f9b05a7d.b98f38","type":"function","z":"4e59f461.a56f0c","name":"func humi","func":"var area = global.get(\"area\"); \n\nvar d = new Date();\nvar date = d.getFullYear() + '-' + d.getMonth() + '-' \n        + d.getDate() + '-' + d.getHours() + ':' + d.getMinutes()\n        + ':' + d.getSeconds();\n            \nvar newMsg = {\n            'sensor': 'humi',\n            'area' : area,\n            'date' : date,                    \n            'value': msg.payload\n            };\n \nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":80,"wires":[["b720b66e.7f4948"]]},{"id":"b720b66e.7f4948","type":"mongodb out","z":"4e59f461.a56f0c","mongodb":"129644e9.2c45fb","name":"","collection":"records","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":760,"y":80,"wires":[]},{"id":"e7f7658d.14b458","type":"function","z":"4e59f461.a56f0c","name":"func light","func":"var area = global.get(\"area\"); \n\nvar d = new Date();\nvar date = d.getFullYear() + '-' + d.getMonth() + '-' \n        + d.getDate() + '-' + d.getHours() + ':' + d.getMinutes()\n        + ':' + d.getSeconds();\n            \nvar newMsg = {\n            'sensor': 'light',\n            'area' : area,\n            'date' : date,                    \n            'value': msg.payload\n            };\n \nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":140,"wires":[["8233cb30.718b48"]]},{"id":"8233cb30.718b48","type":"mongodb out","z":"4e59f461.a56f0c","mongodb":"129644e9.2c45fb","name":"","collection":"records","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":760,"y":140,"wires":[]},{"id":"af5253fc.09b97","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2b0b67e5.8c6878","type":"ui_group","name":"Group 1","tab":"ad2f4438.b053a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"c65726f5.12d638","type":"ui_group","name":"Group 2","tab":"ad2f4438.b053a8","order":2,"disp":true,"width":6},{"id":"129644e9.2c45fb","type":"mongodb","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"sensor","name":""},{"id":"d69cb3c.2df955","type":"ui_group","name":"Group 3","tab":"ad2f4438.b053a8","order":3,"disp":true,"width":6},{"id":"ad2f4438.b053a8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]